{% load staticfiles%}
<div id="accordion_tags" role="tablist" aria-multiselectable="true">
  <div>
        <a role="button" data-toggle="collapse" data-parent="#accordion_tags" href="#tags1"
           aria-expanded="true" aria-controls="categories1" style="font-size:12px;color:black;">
          Смотреть все
        </a>
    <div id="tags1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <li><a href="#">Computer</a></li>
      <li><a href="#">Computer Programming</a></li>
      <li><a href="#">Computer Programming</a></li>
      <li><a href="#">Computer Programming</a></li>
      <li><a href="#">Computer Programming</a></li>
    </div>
  </div>
</div>