{% load staticfiles%}
<div id="accordion_for_categories" role="tablist" aria-multiselectable="true">
  <div>
    <div>
      <h4>
        <a role="button" data-toggle="collapse" data-parent="#accordion_for_categories" href="#categories1"
           aria-expanded="true" aria-controls="categories1" style="font-size:12px;">
          полный список
        </a>
      </h4>
    </div>
    <div id="categories1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <li>
        <a href="#">Computer Programming</a>
          <button type="button" class="close" style="float:none;margin:0 0 0 7px;font-size:14px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
      <li>
        <a href="#">Computer Programming</a>
          <button type="button" class="close" style="float:none;margin:0 0 0 7px;font-size:14px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
      <li>
        <a href="#">Computer Programming</a>
          <button type="button" class="close" style="float:none;margin:0 0 0 7px;font-size:14px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
      <li>
        <a href="#">Computer Programming</a>
          <button type="button" class="close" style="float:none;margin:0 0 0 7px;font-size:14px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
      <li>
        <a href="#">Computer Programming</a>
          <button type="button" class="close" style="float:none;margin:0 0 0 7px;font-size:14px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
      <li>
        <a href="#">Computer Programming</a>
          <button type="button" class="close" style="float:none;margin:0 0 0 7px;font-size:14px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
    </div>
  </div>
</div>