{% extends 'account/profile_main.html' %}

{% block profile_content %}

<div class="panel panel-default">
<div class="panel-heading">Foreign Profile</div>
  <div class="panel-body">
    <div class="row custom-row">
            <div class="col-sm-12 panel panel-default">
              <div class="panel-body">
                <div class="profile_photo col-sm-4">

                  <img src="../../static/images/vk-oauth2-icon.png" alt="" class="img-thumbnail" style="max-width:200px;
                  max-height:200px"/>
                </div>

{#                <div class="col-sm-8">#}
                  <div class="col-sm-3">
                    <p>Nickname</p>
                    <p>Имя фамилия</p>
                    <p>
                      <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default active">
                          <input type="checkbox" autocomplete="off" checked>Подписка
                        </label>
                      </div>
                    </p>
                    <p><a href="#">тег1</a> <a href="#">тег2</a> <a href="#">тег3</a></p>
                  </div>
                  <div class="col-sm-5">
                    <p>Количество дисциплин: 11</p>
                    <p>Город</p>
                    <p>Страна</p>
                    <p>ВУЗ</p>
                    <p>Уч. степень</p>
                  </div>
{#                </div>#}
              </div>
            </div>

            <div class="col-sm-8">
              <div style="margin: 0 0 50px">

              </div>

            </div>

          </div>


  </div>
</div>

{% endblock %}