{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
  <div class="row custom-row">
    <div class="col-sm-3 panel panel-default" style="padding:5px;">
      <div class="profile_photo">
        <img src="{% if account.avatar %}{{ account.avatar.url }}{% else %}{% static 'images/avatar.jpeg' %}{% endif %}" alt="" class="img-thumbnail" style="border:none;"/>
      </div>

      <div class="panel-body p_padding">
        <div class="wrapper_block" style="padding:5px;">
          <p><a href="#">{{ account.username }}</a></p>
          <p>{{ account.full_name }}</p>
        </div>
        <div class="wrapper_block" style="padding:5px;">
          <p>
            <a href="{% url 'account:profile-settings' %}">
              <span class="glyphicon glyphicon-wrench"></span> Настройки
            </a>
          </p>
        </div>

        {% if account.is_info %}
          <div class="wrapper_block">
            {% include 'include/user_info.html' %}
          </div>
        {% endif %}

        {% include 'include/social_icons.html' %}



      </div>
{#              </div>#}
    </div>

    <div class="col-sm-9"style="padding-right:0;">
      <div style="margin: 0 0 50px">
          <div class="form-group">
{#                  <input type="text" class="form-control" placeholder="search">#}
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Поиск">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Искать</button>
              </span>
            </div>


      </div>

      {% block profile_content %}

      {% endblock profile_content %}
    </div>

  </div>
</div>
  {% include 'account/modals/profile_settings.html' %}
{% endblock content %}
