{% extends 'account/base_settings.html' %}

{% load staticfiles %}
{% load i18n %}
{% load backend_utils %}

{% block settings_profile_active %}class="active"{% endblock %}

{% block settings_content %}
  <div class="col-sm-8">
    <form method="post" class="form-horizontal" enctype="multipart/form-data" >
      {% csrf_token %}

      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
          {{ form.non_field_errors }}
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
          {% if form.avatar.errors %}
            <ul style="margin:0; padding:0;">
            {% for error in form.avatar.errors %}
              <li class="text-danger" style="list-style: none;">{{ error|escape }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-9">
          <div data-div-profile-img class="col-sm-4">
            <input data-profile-input-img
                   type="file"
                   class="input-avatar"
                   id="{{ form.avatar.id_for_label }}"
                   name="{{ form.avatar.html_name }}" />
            <img data-profile-img class="g-avatar" src="{% if account.avatar %}{{ account.avatar.url }}{% else %}{% static 'images/avatar.jpeg' %}{% endif %}" width="100" height="100" alt="">
            <label for="{{ form.avatar.id_for_label }}" style="cursor: pointer"
                   class="control-label">{% trans "Change photo" %}</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
          {% if form.username.errors %}
            <ul style="margin:0; padding:0;">
            {% for error in form.username.errors %}
              <li class="text-danger" style="list-style: none;">{{ error|escape }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.username.id_for_label }}" class="col-sm-2
        control-label">{% trans "Nickname" %}</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control required"
                 id="{{ form.username.id_for_label }}"
                 name="{{ form.username.html_name }}"
                 placeholder="{% trans "Nickname" %}"
                 maxlength="{{ form.username.field.max_length }}"
                 value="{% if form.username.value %}{{ form.username.value }}{% endif %}" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
          {% if form.first_name.errors %}
            <ul style="margin:0; padding:0;">
            {% for error in form.first_name.errors %}
              <li class="text-danger" style="list-style: none;">{{ error|escape }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.first_name.id_for_label }}" class="col-sm-2
        control-label">{% trans "Name" %}</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control required"
                 id="{{ form.first_name.id_for_label }}"
                 name="{{ form.first_name.html_name }}"
                 placeholder="{% trans "Name" %}"
                 value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" />
        </div>
      </div>

      <div class="form-group">
          <div class="col-sm-2"></div>
          <div class="col-sm-9">
            {% if form.last_name.errors %}
              <ul style="margin:0; padding:0;">
              {% for error in form.last_name.errors %}
                <li class="text-danger" style="list-style: none;">{{ error|escape }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>
      </div>
      <div class="form-group">
        <label for="{{ form.last_name.id_for_label }}" class="col-sm-2
        control-label">{% trans "Surname" %}</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control required"
                 id="{{ form.last_name.id_for_label }}"
                 name="{{ form.last_name.html_name }}"
                 placeholder="{% trans "Surname" %}"
                 value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
          {% if form.bdate.errors %}
            <ul style="margin:0; padding:0;">
            {% for error in form.bdate.errors %}
              <li class="text-danger" style="list-style: none;">{{ error|escape }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.bdate.id_for_label }}" class="col-sm-2
        control-label">{% trans "Birthdate" %}</label>
        <div class="col-sm-5">
          <div data-profile-bdate class='input-group date'>
            <input data-profile-bdate
                   type="text"
                   class="form-control required"
                   id="{{ form.bdate.id_for_label }}"
                   name="{{ form.bdate.html_name }}"
                   placeholder="{% trans "Birthdate" %}"
                   value="{% if form.bdate.value %}{{ form.bdate.value|date:"d.m.Y" }}{% endif %}" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
          {% if form.my_site.errors %}
            <ul style="margin:0; padding:0;">
            {% for error in form.my_site.errors %}
              <li class="text-danger" style="list-style: none;">{{ error|escape }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.my_site.id_for_label }}" class="col-sm-2
        control-label">{% trans "Site" %}</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control required"
                 id="{{ form.my_site.id_for_label }}"
                 name="{{ form.my_site.html_name }}"
                 placeholder="{% trans "Site" %}"
                 value="{% if form.my_site.value %}{{ form.my_site.value }}{% endif %}" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
        {% if form.description.errors %}
          <ul style="margin:0; padding:0;">
          {% for error in form.description.errors %}
            <li class="text-danger" style="list-style: none;">{{ error|escape }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.description.id_for_label }}" class="col-sm-2
        control-label">{% trans "About me" %}</label>
        <div class="col-sm-9">
          <textarea rows="5"
                    class="form-control"
                    id="{{ form.description.id_for_label }}"
                    name="{{ form.description.html_name }}">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
          {% if form.skype.errors %}
            <ul style="margin:0; padding:0;">
            {% for error in form.skype.errors %}
              <li class="text-danger" style="list-style: none;">{ error|escape }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.skype.id_for_label }}" class="col-sm-2 control-label">Skype</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control required"
                 id="{{ form.skype.id_for_label }}"
                 name="{{ form.skype.html_name }}"
                 value="{% if form.skype.value %}{{ form.skype.value }}{% endif %}" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
          {% if form.country.errors %}
            <ul style="margin:0; padding:0;">
            {% for error in form.country.errors %}
              <li class="text-danger" style="list-style: none;">{{ error|escape }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.country.id_for_label }}" class="col-sm-2
        control-label">{% trans "Country" %}</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control required"
                 id="{{ form.country.id_for_label }}"
                 name="{{ form.country.html_name }}"
                 value="{% if form.country.value %}{{ form.country.value }}{% endif %}" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
          {% if form.city.errors %}
            <ul style="margin:0; padding:0;">
            {% for error in form.city.errors %}
              <li class="text-danger" style="list-style: none;">{{ error|escape }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.city.id_for_label }}" class="col-sm-2
        control-label">{% trans "City" %}</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control required"
                 id="{{ form.city.id_for_label }}"
                 name="{{ form.city.html_name }}"
                 value="{% if form.city.value %}{{ form.city.value }}{% endif %}" />
        </div>
      </div>
      <div class="col-sm-2"></div>
      <div class="form-group">
        <div class="col-sm-9">
          <input type="submit" class="btn btn-primary" value="
          {% trans "Save" %}"/>
        </div>
      </div>
    </form>
  </div>

  <div class="col-sm-2">
    <h4>{% trans "Link Accounts" %}:</h4>
    {% static "images/button_to_bind/" as img_social %}
    {% for sublist in available_backends|social_backends %}
      {% for name, backend in sublist %}
        {% associated backend %}
        {% if association %}
          <form method="POST" action="{% url "social:disconnect_individual" backend=association.provider association_id=association.id %}?next={{ request.path }}">
            {% csrf_token %}
          </form>
          <a data-disconnect-social-account class="custom_img-thumbnail_link bound" href="#">
            <img class="img-thumbnail custom_img-thumbnail"
                 src="{{ img_social }}{{ name }}.png"
                 alt="" />
          </a>
        {% else %}
          <a class="custom_img-thumbnail_link" href="{% url 'social:begin' backend=name %}?next={{ request.path }}">
            <img class="img-thumbnail custom_img-thumbnail grayscale"
                 src="{{ img_social }}{{ name }}.png"
                 alt="" />
          </a>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
  <div class="col-sm-2"></div>
{% endblock %}

{% block extend_script %}
  <script type="text/javascript">
  $(function () {
    $('[data-profile-bdate]').datetimepicker({
      format: 'DD.MM.YYYY',
    });

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('[data-profile-img]').attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      } else {
        var url = "{% if account.avatar %}{{ account.avatar.url }}{% else %}{% static 'images/avatar.jpeg' %}{% endif %}";
        $('[data-profile-img]').attr('src', url);
      }
    }

    $("[data-profile-input-img]").change(function(){
        readURL(this);
    });

    $('input[type="file"]').attr('title', '{% trans "Change photo" %}');
  })
  </script>
{% endblock %}