<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="interest_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">

          <div class="row">
            <div class="col-xs-6 col-md-3 interest_choice" id="0">
              <a href="#" class="thumbnail">
                <img src="../../../static/images/odnoklassniki-oauth2-icon.png" alt="...">
              </a>
              <input type="checkbox" hidden="true">
            </div>

            <div class="col-xs-6 col-md-3 interest_choice" id="1">
              <a href="#" class="thumbnail">
                <img src="../../../static/images/odnoklassniki-oauth2-icon.png" alt="...">
              </a>
              <input type="checkbox" hidden="true">
            </div>

            <div class="col-xs-6 col-md-3 interest_choice" id="2">
              <a href="#" class="thumbnail">
                <img src="../../../static/images/odnoklassniki-oauth2-icon.png" alt="...">
              </a>
              <input type="checkbox" hidden="true">
            </div>

            <div class="col-xs-6 col-md-3 interest_choice" id="3">
              <a href="#" class="thumbnail">
                <img src="../../../static/images/odnoklassniki-oauth2-icon.png" alt="...">
              </a>
              <input type="checkbox" hidden="true">
            </div>

            <div class="col-xs-6 col-md-3 interest_choice" id="4">
              <a href="#" class="thumbnail">
                <img src="../../../static/images/odnoklassniki-oauth2-icon.png" alt="...">
              </a>
              <input type="checkbox" hidden="true">
            </div>

            <div class="col-xs-6 col-md-3 interest_choice" id="5">
              <a href="#" class="thumbnail">
                <img src="../../../static/images/odnoklassniki-oauth2-icon.png" alt="...">
              </a>
              <input type="checkbox" hidden="true">
            </div>

            <div class="col-xs-6 col-md-3 interest_choice"id="6">
              <a href="#" class="thumbnail">
                <img src="../../../static/images/odnoklassniki-oauth2-icon.png" alt="...">
              </a>
              <input type="checkbox" hidden="true">
            </div>

            <div class="col-xs-6 col-md-3 interest_choice" id="7">
              <a href="#" class="thumbnail">
                <img src="../../../static/images/odnoklassniki-oauth2-icon.png" alt="...">
              </a>
              <input type="checkbox" hidden="true">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>