{% load i18n %}
<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel"
     id="register_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">
                    {% trans "Registration" %}
                </h4>
            </div>

            <div class="modal-body">
                <div data-block-form-registration
                     data-url="{% url 'registration_register' %}"
                     class="container-fluid"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">{% trans "Close" %}</button>
                <button data-form-registration-submit type="button" class="btn
        btn-success">{% trans "Sign Up" %}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>