{% extends 'base.html' %}

{% block active_home %}class="active"{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h3>Введите новый пароль</h3>
      <div class="text-info">
        Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.
      </div>
      <form action="" method="post" class="form-horizontal">
        {% csrf_token %}

        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          {% if form.new_password1.errors %}
          <ul style="margin:0; padding:0;">
          {% for error in form.new_password1.errors %}
            <li class="text-danger" style="list-style: none;">{{ error|escape }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        </div>
        <div class="form-group">
          <label for="{{ form.new_password1.id_for_label }}" class="col-sm-3 control-label">{{ form.new_password1.label }}</label>
          <div class="col-sm-6">
            <input type="text"
                   class="form-control required"
                   id="{{ form.new_password1.id_for_label }}"
                   name="{{ form.new_password1.html_name }}"
                   placeholder="{{ form.new_password1.label }}"
                   value="{% if form.new_password1.value %}{{ form.new_password1.value }}{% endif %}" />
          </div>
        </div>

        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          {% if form.new_password2.errors %}
          <ul style="margin:0; padding:0;">
          {% for error in form.new_password2.errors %}
            <li class="text-danger" style="list-style: none;">{{ error|escape }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        </div>
        <div class="form-group">
          <label for="{{ form.new_password2.id_for_label }}" class="col-sm-3 control-label">{{ form.new_password2.label }}</label>
          <div class="col-sm-6">
            <input type="text"
                   class="form-control required"
                   id="{{ form.new_password2.id_for_label }}"
                   name="{{ form.new_password2.html_name }}"
                   placeholder="{{ form.new_password2.label }}"
                   value="{% if form.new_password2.value %}{{ form.new_password2.value }}{% endif %}" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <input type="submit" class="btn btn-primary" value="Изменить мой пароль" />
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}