{% extends 'base.html' %}

{% block active_home %}class="active"{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h3>Письмо с инструкциями по восстановлению пароля отправлено</h3>
      <div class="text-info">
        Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
      </div>
      <div class="text-info">
        Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.
      </div>
    </div>
  </div>
{% endblock %}