<div class="panel panel-default item_message">
  <div class="panel-heading">Максим Пихотинский</div>
  <div class="panel-body" style="background:#e7e7e7">
    <div class="col-sm-2">
      <a href="#">
        <img src="../static/images/facebook-icon.png" alt="..." class="img-thumbnail" style="padding:0;
        border: none; width:68px;height:68px;">
      </a>
    </div>
    <div class="col-sm-10">
      <div class="panel panel-default">
        <div class="panel-body item_message_body">
          <p>Сергей, прошу выслать мне дополнительное индивидуальное заданиек дисциплине <a
              href="#">Дифференциальные уравниения</a></p>
        </div>
      </div>
      <div class="col-sm-3">
        <a href="#">12.10.2014 в 14:23</a>

      </div>
      <div class="col-sm-9">
        <a href="#"> <img src="../static/images/grey_icons/skype.png" alt="" class="img-circle" style="width:20px;
      height:20px;
      "/>  skype</a>
      <a href="#"> <img src="../static/images/grey_icons/F_icon.png" alt="" class="img-circle" style="width:20px;
      height:20px;
      "/>  facebook</a>
      <a href="#"> <img src="../static/images/grey_icons/vkontakte.png" alt="" class="img-circle" style="width:20px;
      height:20px;
      "/>  вконтакте</a>
      <a href="#"> <img src="../static/images/grey_icons/imail.png" alt="" class="img-circle" style="width:20px;
      height:20px;
      "/>  email</a>
      </div>
    </div>
  </div>
</div>