{% extends 'profile_main.html' %}
{% block profile_content %}

<div class="panel panel-default">
  <div class="panel-body">
    {% include 'the_message.html' %}
    {% include 'the_message.html' %}
    {% include 'the_message.html' %}
    {% include 'the_message.html' %}
  </div>
</div>
  <div class="panel">
    <div class="col-sm-12" style="padding:0">
        <form class="form-horizontal">
          <div class="form-group" style="margin-left: 0; margin-right:0;">
            <textarea class="form-control" rows="2"></textarea>
          </div>
          <button type="submit" class="btn btn-default">Отправить</button>
        </form>
    </div>
  </div>

{% endblock %}