{% extends 'base.html' %}
{% load i18n %}
{% block active_home %}class="active"{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h3>{% trans "Password recovery" %}</h3>
      <div class="text-info">
          {% trans "Did you forget the password? Enter you email address and we will send you password recovery instruction" %}
      </div>
      <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          {% if form.email.errors %}
          <ul style="margin:0; padding:0;">
          {% for error in form.email.errors %}
            <li class="text-danger" style="list-style: none;">{{ error|escape }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        </div>
        <div class="form-group">
          <label for="{{ form.email.id_for_label }}" class="col-sm-3 control-label">{{ form.email.label }}</label>
          <div class="col-sm-6">
            <input type="text"
                   class="form-control required"
                   id="{{ form.email.id_for_label }}"
                   name="{{ form.email.html_name }}"
                   placeholder="{{ form.email.label }}"
                   maxlength="{{ form.email.field.max_length }}"
                   value="{% if form.email.value %}{{ form.email.value }}{% endif %}" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <input type="submit" class="btn btn-primary" value="
            {% trans "Send" %}" />
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}